# Byte-code files
*.pyc
__pycache__/

# Built artifacts
.Python
build/
dist/
develop-eggs/
eggs/
*.egg-info/
*.egg/

# Environments
.env
.venv/
env/
venv/

# Configuration (keep examples)
config/config.yaml
!config/.env.example

# Editor/IDE-specific files
.vscode/

# Documentation
*.md
!CONTRIBUTING.md
!README.md